$primary: #22B6EA;
$black: #1a1a1a;
$light-grey: #ADADAD;
$grey-for-text: #ADADAD;
$grey-for-border: #868686;
$grey-for-background: #f9f9f9;
$dark: #1F1F1F;
$pc-bp: 1140px;
$medium-bp: 768px;
$tabled-bp: 992px;
$small-bp: 576px;
$red: #FF4444;
$light-green: #DDFFDE;
$text-green: #04D200;
