@import "mixin";
@import "vars";
@import "fonts";
@import "main-img";
@import "main-info";
@import "details";

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  background-color: #1F1F1F;
  color: $black;
  overflow-x: hidden;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  &.scroll-lock {
    overflow-y: hidden;
  }
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
}
main {
  min-height: 100%;
}
.container {
  margin: auto;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 1170px;
  @include breakpoint($medium-bp) {
    padding: 5rem 0;
  }
  @include breakpoint($pc-bp) {
    padding: 5rem;
  }
}
.content {
  position: relative;
  padding: 0 2rem;
  overflow-x: hidden;
}
.main-header {
  top: 70px;
  font-size: 3rem;
  text-align: left;
  font-weight: 500;
  padding: 5rem 0 3rem;
}
.highlited-text {
  color: $primary;
  font-weight: 800;
}

:root
{
	--duration: 1.5s;
	--container-size: 250px;
	--box-size: 33px;
	--box-border-radius: 15%;
}




